<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<title>My Account</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/profile/account.css}">
</head>
<body>
<th:block th:insert="~{partials/big-navbar :: big-navbar}"></th:block>

<div id="page-container">
	<div id="tab-container">

		<div id="my-dogs-group">
			<div class="d-flex">
			<h3>My Dogs</h3>
				<button type="button" class="btn btn-success rounded-pill" data-bs-toggle="modal" data-bs-target="#addDogModal">
					+
				</button>
			</div>
			<div id="dogs-list-group" class="list-group">
				<button th:id="${dog.id}" th:each="dog : ${dogs}" type="button" class="dog-button btn btn-success m-1">
					<span th:text="${dog.name}"></span>
				</button>

			</div>
		</div>

		<div id="profile-info-group">
			<h3>Profile Info</h3>
		</div>

		<div>
			<h3>Settings</h3>
		</div>

<!--									<form th:method="POST" th:action="@{/dogs/{dogId}(dogId=${dog.id})}">-->
<!--										<input hidden th:name="_method" th:value="DELETE">-->
<!--										<input hidden th:value="${dog.id}" type="number" th:name="dogId">-->
<!--										<input hidden th:value="${dog.name}" type="text" th:name="name">-->
<!--										<input hidden th:value="${dog.breed}" type="text" th:name="breed">-->
<!--										<input hidden th:value="${dog.age}" type="text" th:name="age">-->
<!--										<input hidden th:value="${dog.sex}" type="text" th:name="sex">-->
<!--										<input hidden th:value="${dog.rabiesVaccinationStatus}" type="checkbox"-->
<!--											   th:name="rabiesVaccinationStatus">-->

<!--										<button th:type="submit" class="btn btn-danger">Delete</button>-->
<!--									</form>-->


	</div>
</div>

<!--      edit dog modal  -->
<div class="modal fade" id="editDogModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5">Edit Dog</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">

				<form class="dog-form">

					<input id="edit-id-input" hidden type="number">

					<label>Name</label>
					<input id="edit-name-input" type="text" name="name">

					<label>Breed</label>
					<select id="edit-breed-input" name="breed">
						<option th:each="breed : ${dogBreeds}"
								th:value="${#strings.capitalize(breed.toString())}"
								th:selected="${dog.breed == #strings.capitalize(breed.toString())}">
							<span th:text="${#strings.capitalize(breed.toString())}"></span>
						</option>
					</select>

					<label>Age</label>
					<input id="edit-age-input" type="number" name="age">

					<label>Sex</label>
					<select id="edit-sex-input" th:name="sex" required>
						<option value="M">Male</option>
						<option value="F">Female</option>
					</select>

					<label>Has Rabies Vaccination?</label>
					<input id="edit-rabies-input" type="checkbox" name="rabiesVaccinationStatus">

				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button id="submit-edit-button" type="button" class="btn btn-success">Save</button>
			</div>
		</div>
	</div>
</div>


<th:block th:insert="~{partials/add-dog-modal :: add-dog-modal}"></th:block>

<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
<script type="text/javascript" th:src="@{/js/profile/account.js}"></script>

<script>

    (function ($) {

        let currentDogButton;

        $(".dog-button").on("click", async function () {

            currentDogButton = this;

            try {
                let response = await fetch("/dogs/" + this.id, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });
                response.json().then((data) => {
                    if (response.ok) {
                        $("#edit-id-input").val(data.id);
                        $("#edit-name-input").val(data.name);
                        $("#edit-breed-input").val(data.breed);
                        $("#edit-age-input").val(data.age);
                        $("#edit-sex-input").val(data.sex);
                        $("#edit-rabies-input").prop('checked', data.hasRabiesVaccination);
                        $("#editDogModal").modal('show');
                    } else {
                        console.log("Failed to fetch availability data");
                    }
				});

            } catch (error) {
                console.log("Error fetching availability data:", error);
            }
        });

        $("#submit-edit-button").on('click', async function () {

            let hasRabiesVaccination = $("#edit-rabies-input").val() === "on";

            let dataToUpdate = {
                name: $("#edit-name-input").val(),
                breed: $("#edit-breed-input").val(),
				age: $("#edit-age-input").val(),
				sex: $("#edit-sex-input").val(),
				hasRabiesVaccination: hasRabiesVaccination
			};


            try {
                let response = await fetch("/dogs/" + $("#edit-id-input").val(), {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(dataToUpdate),
                });

                currentDogButton.value = $("#edit-name-input").val();
                currentDogButton.innerText = $("#edit-name-input").val();
                $("#editDogModal").modal('hide');

            } catch (error) {
                console.log("Error updating dog details:", error);
            }
        })

    })(jQuery);

</script>
</body>
</html>