<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BookIt - My Account</title>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/profile/account.css}">
</head>
<body>
<th:block th:insert="~{partials/big-navbar :: big-navbar}"></th:block>

<div id="dogless-toast" th:if="${param.dogless}"
	 class="toast text-bg-warning position-fixed bottom-0 end-0 p-1 me-2 mb-2" style="z-index: 11"
	 role="alert">
	<div class="d-flex">
		<div type="button" class="ms-2 m-auto"><i id="warning-icon" class="fa-solid fa-circle-exclamation"></i></div>
		<div class="toast-body">
			Add a dog before making an appointment.
		</div>
		<button type="button" class="close-toast-btn btn-close btn-close-white me-2 m-auto"
				data-bs-dismiss="toast"></button>
	</div>
</div>

<div id="page-container">
	<div id="tab-container">

		<div id="my-dogs-group" class="settings-container">
			<div id="dogs-group-header" class="d-flex align-items-center justify-content-between">
				<h2>My Dogs</h2>
				<button class="btn btn-success" type="button" data-bs-toggle="modal"
						data-bs-target="#addDogModal">
					Add Dog
				</button>
			</div>
			<div id="dogs-list-group" class="list-group">
				<h4 th:if="${dogs.isEmpty()}">No dogs to display.</h4>
				<div th:each="dog : ${dogs}">
					<button th:id="${dog.id}" type="button"
							class="dog-button btn btn-success m-1">
						<span th:text="${dog.name}"></span>
					</button>
				</div>
			</div>
		</div>

		<div id="profile-info-group" class="settings-container">
			<h2>Profile Info <span id="save-param" th:if="${param.saved}">Profile saved!</span></h2>

			<div>
				<label>Name:</label>
				<span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span>
				<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalInput1"><i class="fa-solid fa-pen-to-square"></i></button>
			</div>

			<div>
				<label>Username:</label>
				<span th:text="${user.username}"></span>
				<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalInput2"><i class="fa-solid fa-pen-to-square"></i></button>
			</div>

			<div>
				<label>Email:</label>
				<span th:text="${user.email}"></span>
				<i th:if="${user.emailVerified}" class="fa-regular fa-square-check"></i>
				<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalInput3"><i class="fa-solid fa-pen-to-square"></i></button>
				<div th:if="${!user.emailVerified}">
					<span>Email has not been verified yet. <span id="resend-email-verification-span">Resend verification email</span>.</span>
				</div>
			</div>

			<div class="modal fade" id="modalInput1" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-success text-white">
							<h5 class="modal-title fs-4">Edit Name</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						</div>
						<div class="modal-body">
							<form id="profile-form" th:method="POST" th:action="@{/my-profile/account}">
								<div class="mb-3">
									<label class="form-label">First Name:</label>
									<input type="text" th:name="first-name" class="form-control" th:value="${user.firstName}">
								</div>
								<div class="mb-3">
									<label class="form-label">Last Name:</label>
									<input type="text" th:name="last-name" class="form-control" th:value="${user.lastName}">
								</div>
								<input hidden th:name="username" th:value="${user.username}">
								<input hidden th:name="email" th:value="${user.email}">
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-success">Save changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade" id="modalInput2" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-success text-white">
							<h5 class="modal-title fs-4">Edit Username</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						</div>
						<div class="modal-body">
							<form th:method="POST" th:action="@{/my-profile/account}">
								<div class="mb-3">
									<label class="form-label">Username:</label>
									<input id="edit-username-input" type="text" th:name="username" class="form-control" th:value="${user.username}">
									<div id="username-exists-div" class="invalid-feedback">
										<span>Username already exists.</span>
									</div>
								</div>
								<input hidden th:name="first-name" th:value="${user.firstName}">
								<input hidden th:name="last-name" th:value="${user.lastName}">
								<input hidden th:name="email" th:value="${user.email}">
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<button id="edit-username-submit-btn" type="submit" class="btn btn-success">Save changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>


			<div class="modal fade" id="modalInput3" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header bg-success text-white">
							<h5 class="modal-title fs-4">Edit Email</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						</div>
						<div class="modal-body">
							<form th:method="POST" th:action="@{/my-profile/account}">
								<div class="mb-3">
									<label class="form-label">Email:</label>
									<input id="edit-email-input" type="text" th:name="email" class="form-control" th:value="${user.email}">
									<div id="email-exists-div" class="invalid-feedback">
										Email already used.
									</div>
								</div>
								<input hidden th:name="first-name" th:value="${user.firstName}">
								<input hidden th:name="last-name" th:value="${user.lastName}">
								<input hidden th:name="username" th:value="${user.username}">
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
									<button id="edit-email-submit-btn" type="submit" class="btn btn-success">Save changes</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<a th:href="@{/my-profile/account/change-password}" class="btn btn-danger">Change Password</a>

		</div>
	</div>
</div>

<!-- Edit Dog Modal -->
<div class="modal fade" id="editDogModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-success text-white">
				<h2 class="modal-title fs-4">Edit Dog</h2>
				<form class="btn btn-danger" id="delete-dog-form" th:method="POST">
					<input hidden th:name="_method" th:value="DELETE">
					<button id="delete-dog-btn" type="submit" class="btn btn-sm btn-danger">Delete Dog</button>
				</form>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="dog-form">
					<input id="edit-id-input" hidden type="number">
					<div class="mb-3">
						<label for="edit-name-input" class="form-label">Name</label>
						<input id="edit-name-input" type="text" name="name" maxlength="20" class="form-control">
					</div>
					<div class="mb-3">
						<label for="edit-breed-input" class="form-label">Breed</label>
						<select id="edit-breed-input" name="breed" class="form-select">
							<option th:each="breed : ${dogBreeds}" th:value="${#strings.capitalize(breed.toString())}" th:selected="${dog.breed == #strings.capitalize(breed.toString())}">
								<span th:text="${#strings.capitalize(breed.toString())}"></span>
							</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="edit-age-input" class="form-label">Age</label>
						<input id="edit-age-input" type="number" name="age" class="form-control">
					</div>
					<div class="mb-3">
						<label for="edit-sex-input" class="form-label">Sex</label>
						<select id="edit-sex-input" th:name="sex" required class="form-select">
							<option value="M">Male</option>
							<option value="F">Female</option>
						</select>
					</div>
					<div class="mb-3 form-check">
						<input id="edit-rabies-input" type="checkbox" name="rabiesVaccinationStatus" class="form-check-input">
						<label for="edit-rabies-input" class="form-check-label">Has Rabies Vaccination?</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button id="submit-edit-button" type="button" class="btn btn-success">Save</button>
			</div>
		</div>
	</div>
</div>


<th:block th:insert="~{partials/add-dog-modal :: add-dog-modal}"></th:block>

<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>

<script type="text/javascript" th:src="@{/js/profile/account.js}"></script>
<script src="https://kit.fontawesome.com/556c276549.js" crossorigin="anonymous"></script>
<script>

	let emailInput = $("#edit-email-input");
    let usernameInput = $("#edit-username-input");
    let editEmailSubmitButton = $("#edit-email-submit-btn");
    let editUsernameSubmitButton = $("#edit-username-submit-btn");
    let usernameInvalidFeedbackDiv = $("#username-exists-div");
    let emailInvalidFeedbackDiv = $("#email-exists-div");

    function isValidEmail(email) {
        const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
        return emailRegex.test(email);
    }

    (function ($) {

        usernameInput.on("input", async function() {
            let usernameInputValue = usernameInput.val();
            if (usernameInputValue.trim() === "") {
                usernameInput.addClass("invalid");
            } else {
                let response = await fetch("/username-check/" + usernameInputValue, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });
                if (response.ok) {
                    if (await response.json()) {
                        usernameInput.addClass("invalid");
                        usernameInvalidFeedbackDiv.show();
                    } else {
                        usernameInput.removeClass("invalid");
                        usernameInvalidFeedbackDiv.hide();
                    }
                }
            }
            if (usernameInput.hasClass("invalid") || usernameInput.val().trim() === "") {
                editUsernameSubmitButton.addClass("disabled");
			} else {
                editUsernameSubmitButton.removeClass("disabled");
			}
        });

        emailInput.on("input", async function() {
            const email = emailInput.val();

            if (isValidEmail(email)) {
                emailInput.removeClass("invalid");
                let response = await fetch("/email-check/" + email , {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    if (await response.json()) {
                        emailInput.addClass("invalid");
                        emailInvalidFeedbackDiv.show();
                    } else {
                        emailInput.removeClass("invalid");
                        emailInvalidFeedbackDiv.hide();
                    }
                }

            } else {
                emailInput.addClass("invalid");
            }

            if (emailInput.hasClass("invalid") || emailInput.val().trim() === "") {
                editEmailSubmitButton.addClass("disabled");
            } else {
                editEmailSubmitButton.removeClass("disabled");
            }
        });


        //resend email verification
        $("#resend-email-verification-span").on("click", function () {
            try {
                fetch("/resendVerificationEmail", {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });

            } catch (error) {
                console.log("Error sending verification email");
            }
        });

        // get current dog info
        let currentDogButton;

        $(".dog-button").on("click", async function () {

            currentDogButton = this;

            try {
                let response = await fetch("/dogs/" + this.id, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });
                response.json().then((data) => {
                    if (response.ok) {
                        $("#edit-id-input").val(data.id);
                        $("#edit-name-input").val(data.name);
                        $("#edit-breed-input").val(data.breed);
                        $("#edit-age-input").val(data.age);
                        $("#edit-sex-input").val(data.sex);
                        $("#edit-rabies-input").prop('checked', data.hasRabiesVaccination);
                        $("#delete-dog-form").prop("action", "/dogs/" + data.id);
                        $("#editDogModal").modal('show');
                    } else {
                        console.log("Failed to fetch availability data");
                    }
                });

            } catch (error) {
                console.log("Error fetching availability data:", error);
            }
        });

        $("#submit-edit-button").on('click', async function () {

            let hasRabiesVaccination = $("#edit-rabies-input").prop('checked');

            let dataToUpdate = {
                name: $("#edit-name-input").val(),
                breed: $("#edit-breed-input").val(),
                age: $("#edit-age-input").val(),
                sex: $("#edit-sex-input").val(),
                hasRabiesVaccination: hasRabiesVaccination
            };


            try {
                let response = await fetch("/dogs/" + $("#edit-id-input").val(), {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(dataToUpdate),
                });

                currentDogButton.value = $("#edit-name-input").val();
                currentDogButton.innerText = $("#edit-name-input").val();
                $("#editDogModal").modal('hide');

            } catch (error) {
                console.log("Error updating dog details:", error);
            }
        })

    })(jQuery);

</script>
</body>
</html>