<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BookIt - My Appointments</title>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/profile/appointments.css}">
</head>
<body>
<th:block th:insert="~{partials/big-navbar :: big-navbar}"></th:block>

<div id="appointments-container">
	<div class="appointment-box">
		<h2>Upcoming Appointments</h2>

		<div th:if="${upcomingAppointments.isEmpty()}" class="no-appointments">
			<p>No upcoming appointments.</p>
		</div>

		<ul th:if="${!upcomingAppointments.isEmpty()}" class="appointment-list">
			<li th:each="appointment : ${upcomingAppointments}" class="appointment-item">
				<div class="appointment-card">
					<div class="appointment-details">
						<h3 th:text="${#temporals.format(appointment.appointmentTime, 'MMMM d, uuuu')}"></h3>
						<h4 th:text="${#temporals.format(appointment.appointmentTime, 'h:mm a')}"></h4>
						<p th:text="${'Appointment with ' + appointment.groomer.name}"></p>
						<p th:text="${'For ' + appointment.dog.name}"></p>
						<a th:href="@{'https://www.google.com/calendar/render?action=TEMPLATE&text=Grooming%20Appointment%20With%20' + ${appointment.groomer.name} + '&dates=' + ${#temporals.format(appointment.appointmentTime, 'yyyyMMdd')} + 'T' + ${#temporals.format(appointment.appointmentTime.plusHours(5), 'HHmmss')} + 'Z/' + ${#temporals.format(appointment.appointmentTime, 'yyyyMMdd')} + 'T' + ${#temporals.format(appointment.appointmentTime.plusHours(6), 'HHmmss')} + 'Z&details=Grooming%20appointment%20with%20' + ${appointment.groomer.name} + '%20for%20' + ${appointment.dog.name} + '.&location=Event+Location&sf=true&output=xml'}" target="_blank">Add to Google Calendar</a>
					</div>
					<div class="appointment-actions">
						<a class="btn" th:href="@{/calendar/{appointmentId}(appointmentId=${appointment.id})}" id="edit-appointment-btn">Edit</a>
						<form th:method="POST" th:action="@{/appointments/{appointmentId}(appointmentId=${appointment.id})}" id="cancel-appointment-form">
							<input hidden th:name="_method" th:value="DELETE">
							<button th:type="submit" class="btn" id="cancel-appointment-btn">Cancel</button>
						</form>
						<a class="btn" th:href="@{/appointments/{appointmentId}(appointmentId=${appointment.id})}">View</a>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="appointment-box">
		<h2>Past Appointments</h2>

		<div th:if="${prevAppointments.isEmpty()}" class="no-appointments">
			<p>No past appointments.</p>
		</div>

		<ul th:if="${!prevAppointments.isEmpty()}" class="appointment-list">
			<li th:each="appointment : ${prevAppointments}" class="appointment-item">
				<div class="appointment-card">
					<div class="appointment-details">
						<h3 th:text="${#temporals.format(appointment.appointmentTime, 'MMMM d, uuuu')}"></h3>
						<h4 th:text="${#temporals.format(appointment.appointmentTime, 'h:mm a')}"></h4>
						<p th:text="${'Appointment with ' + appointment.groomer.name}"></p>
						<p th:text="${'For ' + appointment.dog.name}"></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<th:block th:insert="~{partials/footer :: footer}"></th:block>
<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>
