<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<title>My Appointments</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/profile/appointments.css}">
</head>
<body>
<th:block th:insert="~{partials/big-navbar :: big-navbar}"></th:block>

<div id="appointments-container">
	<div class="appointment-box">
		<h3>Upcoming Appointments</h3>

		<h4 th:if="${upcomingAppointments.isEmpty()}">No upcoming appointments.</h4>

		<ul th:if="${!upcomingAppointments.isEmpty()}" class="d-flex flex-wrap">
			<li th:each="appointment : ${upcomingAppointments}" class="appointment-list-item m-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<a class="appointment-a" th:href="@{/appointments/{appointmentId}(appointmentId=${appointment.id})}">
							<h5 class="card-title"
								th:text="${#temporals.format(appointment.appointmentTime, 'MMMM d, uuuu')}"></h5>
							<h4 th:text="${#temporals.format(appointment.appointmentTime, 'h:mm a')}"></h4>
							<p class="card-text" th:text="${'Appointment with ' + appointment.groomer.name}"></p>
							<p class="card-text" th:text="${'For ' + appointment.dog.name}"></p>
						</a>
						<div class="d-flex justify-content-evenly">
							<a th:href="@{/calendar/{appointmentId}(appointmentId=${appointment.id})}"
							   class="btn btn-warning rounded-pill">Change</a>
							<form th:method="POST"
								  th:action="@{/appointments/{appointmentId}(appointmentId=${appointment.id})}">
								<input hidden th:name="_method" th:value="DELETE">
								<button th:type="submit" class="btn btn-danger rounded-pill">Cancel</button>
							</form>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="appointment-box">
		<h3>Past Appointments</h3>

		<h4 th:if="${prevAppointments.isEmpty()}">No past appointments.</h4>

		<ul th:if="${!prevAppointments.isEmpty()}" class="d-flex flex-wrap">
			<li th:each="appointment : ${prevAppointments}" class="appointment-list-item m-3">
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title"
							th:text="${#temporals.format(appointment.appointmentTime, 'MMMM d, uuuu')}"></h5>
						<h4 th:text="${#temporals.format(appointment.appointmentTime, 'h:mm a')}"></h4>
						<p class="card-text" th:text="${'Appointment with ' + appointment.groomer.name}"></p>
						<p class="card-text" th:text="${'For ' + appointment.dog.name}"></p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>