<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<title>BookIt - My Reviews</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/profile/reviews.css}">
</head>
<body>
<th:block th:insert="~{partials/big-navbar :: big-navbar}"></th:block>

<div id="deleted-toast" th:if="${param.deleted}"
	 class="toast text-bg-warning position-fixed bottom-0 end-0 p-1 me-2 mb-2" style="z-index: 11"
	 role="alert">
	<div class="d-flex">
		<div type="button" class="ms-2 m-auto"></div>
		<div class="toast-body">
			Review has been deleted.
		</div>
		<button type="button" class="close-toast-btn btn-close btn-close-white me-2 m-auto"
				data-bs-dismiss="toast"></button>
	</div>
</div>

<div id="page-container">

	<div id="table-container">

		<h2 id="reviews-header">My Reviews</h2>

		<table class="styled-table">
			<thead>
			<tr>
				<th>Date</th>
				<th>Time</th>
				<th>Groomer</th>
				<th>Dog</th>
				<th>Rating</th>
				<th>Description</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="review : ${reviews}">
				<td th:text="${#temporals.format(review.appointment.appointmentTime, 'MMMM d, uuuu')}"></td>
				<td th:text="${#temporals.format(review.appointment.appointmentTime, 'h:mm a')}"></td>
				<td th:text="${review.appointment.groomer}"></td>
				<td th:text="${review.appointment.dog}"></td>
				<td th:text="${review.rating}"></td>
				<td th:text="${review.description}"></td>
				<td><form th:method="GET" th:action="@{/reviews/{appointmentId}(appointmentId=${review.appointment.id})}">
					<button id="edit-btn" class="link-success" type="submit">Edit</button>
				</form></td>
			</tr>
			</tbody>
		</table>
	</div>

</div>

<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
<script type="text/javascript" th:src="@{/js/reviews.js}"></script>
</body>
</html>
