<th:block th:fragment="add-dog-modal">
  <div class="modal fade" id="addDogModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Add Your Dog</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form class="dog-form" th:method="POST" th:action="@{/dogs}" th:object="${dog}">


            <label for="name">Name</label>
            <input type="text" id="name" th:field="*{name}" required>

            <label for="breed">Breed</label>
            <select id="breed" th:field="*{breed}">
              <option th:each="breed : ${dogBreeds}" th:value="${#strings.capitalize(breed.toString())}">
                <span th:text="${#strings.capitalize(breed.toString())}"></span>
              </option>
            </select>

            <label for="age">Age</label>
            <input type="number" id="age" th:field="*{age}" required>

            <label for="sex">Sex</label>
            <select id="sex" th:field="*{sex}" required>
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>

            <label for="rabies-vaccination">Has Rabies Vaccination?</label>
            <input th:type="checkbox" id="rabies-vaccination" th:field="*{rabiesVaccinationStatus}"
                   th:checked="${dog.rabiesVaccinationStatus}">

            <div class="modal-footer">
              <a th:href="@{/dogs/}"><button>Delete</button></a>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</th:block>