<th:block th:fragment="footer">
  <footer class="d-flex justify-content-center">
    <div class="container d-flex justify-content-center">
      <div class="row d-flex justify-content-center">

        <div id="footer-about-us" class="col">
          <h3 class="mb-4">About Us</h3>
          <p>We are a local & family owned business, specializing in all natural, healthy, premium pet nutrition food & products.</p>
        </div>

        <a class="col" id="footer-logo" th:href="@{/}"><img id="footer-img" th:src="@{/img/olis_pet_stuff_logo.png}"/></a>

        <div id="footer-contact" class="col">
          <h3 class="mb-4">Contact Us</h3>
          <p>Phone: (210) 455-0499</p>
          <p>Email: OlisBarkery@gmail.com</p>
          <p>18010 Bulverde Rd #104, San Antonio, TX 78259</p>
        </div>

      </div>
    </div>
  </footer>
</th:block>