<th:block th:fragment="small-navbar">

  <nav class="navbar navbar-expand-lg bg-body-tertiary p-0">
    <a id="navbar-logo" th:href="@{/}"><img id="small-navbar-img" th:src="@{/img/olis_pet_stuff_logo.png}"/></a>
    <div class="container-fluid d-flex justify-content-between align-items-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item normal-btn">
            <a class="nav-link active" th:href="@{/}">Home</a>
          </li>
          <li sec:authorize="!isAuthenticated()" class="nav-item normal-btn">
            <a class="nav-link" th:href="@{/login}">Log In</a>
          </li>
          <li sec:authorize="!isAuthenticated()" class="nav-item normal-btn">
            <a class="nav-link" th:href="@{/register}">Register</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item normal-btn">
            <form th:action="@{/logout}" method="POST"><input class="nav-link" type="submit" value="Logout"></form>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item normal-btn dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="" data-bs-toggle="modal"
                   data-bs-target="#Modal">Button</a>
              </li>
              <li><a class="dropdown-item" th:href="@{/my-profile/appointments}">My Appointments</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" th:href="@{/my-profile/account}">Account</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <th:block th:insert="~{partials/modal :: modal}"></th:block>

</th:block>