.carousel-container {
    height: 30em;
}

.carousel-img {
    height: 100%;
}

#index-top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #304e18;
    text-align: center;
    border-bottom: #cadfbc solid 1px;
    overflow: hidden;
    height: 3.5em;
}

.top-bar-element {
    padding: 3px 0 3px 0;
}

#image-container {
    height: 40em;
    background-image: url('../img/dog-haircut.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-container-text-box {
    font-size: xxx-large;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#staff-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

#emp-1-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: transparent;
    /*border: none;*/

}

#emp-2-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: transparent;
    /*border: none;*/

}