body {
    background-image: url('../img/login_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

#login-form-container {
    border: darkgreen 8px solid;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    width: 55%;
    margin: auto;
    background-color: #cadfbc;
    color: #304e18;
    padding-bottom: 20px;
}

#page-container {
    display: flex;
    height: 100vh;
}

#login-img {
    border-radius: 50%;
    width: 100px;
}

#login-header {
    padding-top: 20px;
    padding-bottom: 20px;
}


.input-group-text {
    color: #304e18;
    background-color: #eeffee;
    min-width: 110px;
}

#register-anchor {
    color: #0dbc12;
    text-decoration: none;
}

#register-anchor:hover {
    color: #0d9413;
    text-decoration: underline;
}

.toast {
    z-index: 1000;
    top: 72%;
}