
#picker-container {
    min-height: 90vh;
    padding: 2em;
    background-image: url('../img/bones_background.jpeg');
    background-repeat: repeat;
    overflow: scroll;
    max-width: 100%;
}

#myc-nav-container {
    background-color: #0d9413;
}

#picker {
    background-color: white;
    min-width: 1000px;
}

#myc-container {
    width: inherit;
}

#myc-nav-container {
    padding-top: 5px;
    margin-bottom: 15px;
    width: inherit;
    background-color: #e4ffb5;
}

#myc-current-month-year-container {
    display: inline-block;
    font-size: 1.5em;
    font-weight: lighter;
    text-align: center;
    text-transform: capitalize;
    vertical-align: top;
    width: 68%;
}

#myc-prev-week-container {
    display: inline-block;
    width: 15%;
    margin-left: 5px;
}

#myc-next-week-container {
    display: inline-block;
    width: 15%;
}

#myc-prev-week {
    border: 1px solid black;
    border-radius: 80px;
    color: black;
    cursor: pointer;
    float: left;
    font-size: 1.6em;
    font-weight: lighter;
    height: 40px;
    text-align: center;
    width: 40px;
}

#myc-next-week {
    border: 1px solid black;
    border-radius: 80px;
    color: black;
    cursor: pointer;
    float: right;
    font-size: 1.6em;
    font-weight: lighter;
    height: 40px;
    text-align: center;
    width: 40px;
}

#myc-prev-week:hover, #myc-next-week:hover {
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
}

#myc-week-container {
    border: 1px solid #e0e0e0;
}

#myc-dates-container {
    background-color: #fafafa;
    white-space: nowrap;
}

.myc-date-header {
    border-right: 1px solid #e0e0e0;
    display: inline-block;
    min-height: 50px;
    padding: 15px 0px 15px 15px;
    vertical-align: top;
    width: 13.77%;
}

.myc-date-header:first-of-type {
    padding-left: 15px;
}


#myc-available-time-container {
    border-top: 1px solid #e0e0e0;
    min-height: 150px;
    white-space: nowrap;
}

.myc-day-time-container {
    /*border-right: 1px solid #e0e0e0;*/
    display: inline-block;
    height: 100%;
    padding: 15px 15px 15px 15px;
    vertical-align: top;
    width: 13.77%;
    min-width: 100px;
}

.myc-day-time-container:first-of-type {
    padding-left: 15px;
}

.myc-day-time-container:last-of-type {
    border-right: none;
}

.myc-date-number {
    font-size: 1.8em;
    font-weight: lighter;
}

.myc-available-time {
    background-color: #0dbc12;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    min-width: 50px;
}

.myc-available-time.selected, .myc-available-time:hover {
    background-color: #222;
}

.myc-date-display {
    font-weight: lighter;
}

h4 {
    display: inline-block; /* or display: inline-block; */
    max-width: 100%; /* Optional: control the maximum width for wrapping */
    word-wrap: break-word; /* Optional: force long words to wrap */
}
