body {
    background-image: url('../img/login_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

#form-container {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    overflow: scroll;
}

#reset-password-header {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 1em;
}

#reset-password-form {
    border: darkgreen 8px solid;
    border-radius: 3%;
    min-height: 60vh;
    width: 55%;
    margin: auto;
    background-color: #cadfbc;
    color: #304e18;
    padding: 20px 20px 20px 20px;
}

.toast {
    z-index: 1000;
}


.input-group-text {
    color: #304e18;
    background-color: #eeffee;
    min-width: 110px;
}

p {
    color: #304e18;
    padding-bottom: 1em;
    text-align: center;
}

@media screen and (min-width: 674px) {

    .reset-password-input {
        flex-direction: row;
    }

    .input-group-text {
        width: 100%;
    }

    .forgot-password-input {
        border: none;
        width: 100%;
    }
}

@media screen and (max-width: 675px) {

    .password-reset-input-group {
        flex-direction: column;
        align-items: center;
    }

    .input-group-text {
        width: 100%;
    }

    .forgot-password-input {
        width: 100%;
        border: none;
    }


}