body {
    background-image: url('../img/login_background.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

#register-form-container {
    border: darkgreen 8px solid;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 55%;
    margin: auto;
    background-color: #cadfbc;
    color: #304e18;
    padding: 20px;
    overflow: hidden;
}

#page-container {
    display: flex;
    height: 100vh;
}

#register-img {
    border-radius: 50%;
    width: 110px;
    border: solid 3px #e4ffb5;
}

#register-header {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}


.input-group-text {
    color: #304e18;
    background-color: #eeffee;
    min-width: 110px;
}

#register-anchor {
    color: #0dbc12;
    text-decoration: none;
}

#register-anchor:hover {
    color: #0d9413;
    text-decoration: underline;
}

@media screen and (min-width: 674px) {

    .regsiter-input-group {
        flex-direction: row;
    }

    .register-input {
        border: none;
    }
}

@media screen and (max-width: 675px) {

    .register-input-group {
        flex-direction: column;
        align-items: center;
    }

    .input-group-text {
        width: 100%;
    }

    .register-input {
        width: 100%;
        border: none;
    }


}