<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<title>BookIt - Calendar</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" type="text/css" href="../css/mark-your-calendar.css">
	<link rel="stylesheet" th:href="@{/css/calendar.css}">
	<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
</head>
<body>
<th:block th:insert="~{partials/small-navbar :: small-navbar}"></th:block>

<!--    Select groomer modal   -->
<div class="modal fade" id="groomerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-success text-white">
				<h1 class="modal-title fs-4">Select Your Groomer!</h1>
			</div>
			<form class="modal-body">
				<div class="mb-3">
					<input type="radio" id="groomer1" name="groomer" value="1">
					<label for="groomer1">Lorena</label><br>
				</div>
				<div class="mb-3">
					<input type="radio" id="groomer2" name="groomer" value="2">
					<label for="groomer2">Kara</label>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="goBack()" class="btn btn-secondary">Go Back</button>
					<button id="groomer-select-btn" type="button" class="btn btn-success disabled" data-bs-dismiss="modal">Select</button>
				</div>
			</form>
		</div>
	</div>
	<div id="scheduled-toast" th:if="${param.scheduled}"
		 class="toast text-bg-warning position-fixed bottom-0 end-0 p-1 me-2 mb-2" style="z-index: 11"
		 role="alert">
		<div class="d-flex">
			<div type="button" class="ms-2 m-auto"><i id="warning-icon" class="fa-solid fa-circle-exclamation"></i></div>
			<div class="toast-body">
				Select a dog that is not already scheduled.
			</div>
			<button type="button" class="close-toast-btn btn-close btn-close-white me-2 m-auto"
					data-bs-dismiss="toast"></button>
		</div>
	</div>
</div>


<div id="picker-container">
	<div id="picker"></div>
</div>

<div class="modal fade" id="selectionModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-success text-white">
				<h1 class="modal-title fs-4">Confirm Appointment</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="modal-body" id="appointment-form" th:action="@{/appointments}" th:method="POST">
				<div class="mb-3">
					<label for="span-groomer-name" class="form-label">Groomer:</label>
					<span id="span-groomer-name"></span>
					<input hidden id="groomer-id" name="groomer-id" type="number">
				</div>
				<div class="mb-3">
					<label for="selected-date" class="form-label">Selected date:</label>
					<span id="selected-date"></span>
					<input hidden id="selected-date-input" name="selected-date" type="text">
				</div>
				<div class="mb-3">
					<label for="selected-time" class="form-label">Selected time:</label>
					<span id="selected-time"></span>
					<input hidden id="selected-time-input" name="selected-time" type="text">
				</div>
				<div class="mb-3">
					<label for="dog-select" class="form-label">Select your dog:</label>
					<select name="dog-id" id="dog-select" class="form-select" required>
						<option th:each="dog : ${dogs}" th:value="${dog.id}" th:selected="${selectedDog != null} and ${dog.id} == ${selectedDog.id}">
							<span th:text="${dog.name}"></span>
						</option>
					</select>
					<input hidden name="change-appointment-id" type="number" th:value="${changeAppointmentId}">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button id="appointment-select-btn" th:type="submit" class="btn btn-success">Make Appointment</button>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- groomerId parameter hidden input -->
<input id="groomer-id-hidden-input" hidden th:value="${groomerId}">

<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
<script type="text/javascript" src="../js/mark-your-calendar.js"></script>
<script type="text/javascript">

    let amountOfWeekOffset = 0;
    let groomerId = "";

    function goBack() {
        window.history.back();
    }

    $(document).ready(function () {
        $("#scheduled-toast").show();

        $(".close-toast-btn").on("click", function () {
            $(this).closest(".toast").hide();
        })
    });

    function formatDate(inputDateStr) {
        const options = { year: 'numeric', month: 'long', day: 'numeric' };
        const inputDate = new Date(inputDateStr);
        return inputDate.toLocaleDateString(undefined, options);
    }

    function formatTimeWithAMPM(timeStr) {
        const [hours, minutes] = timeStr.split(':').map(Number);
        const ampm = hours >= 9 && hours < 12 ? 'AM' : 'PM';
        const formattedHours = hours % 12 === 0 ? 12 : hours % 12;
        const formattedTime = `${formattedHours}:${minutes.toString().padStart(2, '0')} ${ampm}`;
        return formattedTime;
    }

    (function ($) {

        $("#groomer-select-btn").on("click", async function () {

            // set hidden input values in confirm modal form
            $("#groomer-id").val(groomerId);

            // display selected groomer name in confirm modal
            if (groomerId == 1) {
                $("#span-groomer-name").text("Lorena");
            } else if (groomerId == 2) {
                $("#span-groomer-name").text("Kara");
            }

            try {
                let response = await fetch("/groomers/" + groomerId + "/availability?amountOfWeekOffset=" + amountOfWeekOffset, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                });

                if (response.ok) {
                    let availabilityData = await response.json();
                    for (let i = 0; i < availabilityData.length; i++) {
                        for (let j = 0; j < availabilityData[i].length; j++) {
                            if (parseInt(availabilityData[i][j].substring(11, 13)) > 12) {
                                availabilityData[i][j] = (parseInt(availabilityData[i][j].substring(11, 13)) - 12) + availabilityData[i][j].substring(13) + " PM";
                            } else if (parseInt(availabilityData[i][j].substring(11, 13)) === 12) {
                                availabilityData[i][j] = availabilityData[i][j].substring(11) + " PM";
                            } else {
                                availabilityData[i][j] = availabilityData[i][j].substring(11) + " AM";
                            }
                        }
                    }
                    setupMarkYourCalendar(availabilityData);
                } else {
                    console.log("Failed to fetch availability data");
                }
            } catch (error) {
                console.log("Error fetching availability data:", error);
            }
        });

        function setupMarkYourCalendar(availabilityData) {
            $('#picker').markyourcalendar({
                availability: availabilityData,
                startDate: new Date(),
                onClick: function (ev, data) {
                    var d = data[0].split(' ')[0];
                    var t = data[0].split(' ')[1];
                    $('#selected-date').html(formatDate(d));
                    $('#selected-time').html(formatTimeWithAMPM(t));
                    $("#selected-date-input").val(d);
                    $("#selected-time-input").val(t);
                },
                onClickNavigator: async function (ev, instance) {
                    try {
                        let response = await fetch("/groomers/" + groomerId + "/availability?amountOfWeekOffset=" + amountOfWeekOffset, {
                            method: 'GET',
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            }
                        });

                        if (response.ok) {
                            let availabilityData = await response.json();
                            for (let i = 0; i < availabilityData.length; i++) {
                                for (let j = 0; j < availabilityData[i].length; j++) {
                                    if (parseInt(availabilityData[i][j].substring(11, 13)) > 12) {
                                        availabilityData[i][j] = (parseInt(availabilityData[i][j].substring(11, 13)) - 12) + availabilityData[i][j].substring(13) + " PM";
                                    } else if (parseInt(availabilityData[i][j].substring(11, 13)) === 12) {
                                        availabilityData[i][j] = availabilityData[i][j].substring(11) + " PM";
                                    } else {
                                        availabilityData[i][j] = availabilityData[i][j].substring(11) + " AM";
                                    }
                                }
                            }
                            instance.setAvailability(availabilityData);
                        } else {
                            console.log("Failed to fetch availability data");
                        }
                    } catch (error) {
                        console.log("Error fetching availability data:", error);
                    }
                }
            });
        }
    })(jQuery);

    $(document).ready(function () {
        if ($("#groomer-id-hidden-input").val() !== "") {
            groomerId = $("#groomer-id-hidden-input").val();
            $("#groomer-select-btn").click();
        } else {
            $("#groomerModal").modal('show');
        }
    });

    $("#groomer1").on("change", function () {
        $("#groomer-select-btn").removeClass("disabled");
        groomerId = 1;
    });

    $("#groomer2").on("change", function () {
        $("#groomer-select-btn").removeClass("disabled");
        groomerId = 2;
    });


</script>
</body>
</html>