<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<title>Forgot Password</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/password.css}">
</head>
<body>

<div id="forgot-password-toast" class="toast text-bg-success position-fixed bottom-0 end-0 p-1 me-2 mb-2"
	 role="alert">
	<div class="d-flex">
		<div class="toast-body">
			<p>Form submitted! Please check your email with the link to reset your password!</p>
		</div>
	</div>
</div>

<div id="form-container">

	<div id="reset-password-form">

		<h1 id="reset-password-header">Oli's Forgot Password Form</h1>

		<p>Type in your username and email below to submit the Forgot Password form. If your username and email match, you will receive an email with a link to reset your password!</p>

		<div class="input-group mb-3 password-reset-input-group">
			<span class="input-group-text">Username</span>
			<input id="username-input" type="text" name="username" class="forgot-password-input">
		</div>

		<div class="input-group mb-3 password-reset-input-group">
			<span class="input-group-text">Email</span>
			<input id="email-input" type="text" name="email" class="forgot-password-input">
		</div>

		<input id="forgot-password-submit-btn" class="btn btn-success w-100" value="Submit"/>

	</div>
</div>

<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
<script>

    $("#forgot-password-submit-btn").on("click", async function () {
        let usernameInputValue = $("#username-input").val();
        let emailInputValue = $("#password-input").val();


        const requestData = {
            username: usernameInputValue,
            email: emailInputValue
        };


        let response = await fetch("/forgot-password", {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        });

        if (response.ok) {
            $("#forgot-password-toast").show();
        } else {
            // handle error
        }
    });


</script>
</body>
</html>
