<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<title th:text="${'BookIt - ' + groomer.name + '''s Reviews'}"></title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/groomers-reviews.css}">
</head>
<body>
<th:block th:insert="~{partials/big-navbar :: big-navbar}"></th:block>

<div id="page-container">

	<div id="reviews-container" class="row row-cols-1 row-cols-md-3 g-4">
		<div th:each="review : ${reviews}" class="col">
			<div class="card">
				<div class="star-rating">
								<span th:each="star : ${#numbers.sequence(1, 5)}">
								<input type="radio" th:id="${review.id}+'star'+${star}" th:checked="${star <= review.rating}">
								<label th:for="${review.id}+'star'+${star}"></label>
								</span>
				</div>
				<div class="card-body">
					<h5 class="card-title" th:text="${review.appointment.dog.name+' - '+review.appointment.dog.breed}"></h5>
					<p class="card-text" th:text="${review.description}"></p>
				</div>
				<div class="card-footer">
					<small class="text-muted" th:text="${#temporals.format(review.appointment.appointmentTime, 'MMMM d, uuuu')+' | '+review.reviewer.firstName+' '+review.reviewer.lastName}"></small>
				</div>
			</div>
		</div>
	</div>

</div>

<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>
