<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>BookIt - Home</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<th:block th:insert="~{partials/navbar :: navbar}"></th:block>

<div id="carousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="carousel-container carousel-item active">
			<img th:src="@{/img/olis_birthday.png}" class="carousel-img d-block w-100" alt="...">
		</div>
		<div class="carousel-container carousel-item">
			<img th:src="@{/img/olis_twenty_off.png}" class="carousel-img d-block w-100" alt="...">
		</div>
		<div class="carousel-container carousel-item">
			<img th:src="@{/img/olis_fiesta.png}" class="carousel-img d-block w-100" alt="...">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
		<span class="carousel-control-next-icon"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<h1>Welcome to Oli's Grooming Services!</h1>
<h2><a th:href="@{/calendar}">Click here to schedule an appointment</a></h2>


<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>
