<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<meta property="og:title" content="BookIt App">
	<meta property="og:description" content="Dog Grooming Booking Application">
	<meta property="og:image" content="https://cdn.filestackcontent.com/eF3GtWjRTQefDmICtK3R">
	<meta property="og:url" content="https://book-it-app-58bb29028f24.herokuapp.com/">
	<title>BookIt - Home</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<div class="container-flex" id="index-top-bar">
	<span class="col-4 top-bar-element" id="phone-span">(210) 455-0499</span>
	<span class="col-4 top-bar-element" id="address-span">18010 Bulverde Rd #104, San Antonio, TX 78259</span>
	<span class="col-4 top-bar-element" id="hours-span">Mon-Sat: 10AM - 7PM | Sun: 12PM - 4PM</span>
</div>

<th:block th:insert="~{partials/big-navbar :: big-navbar}"></th:block>

<div id="page-container" class="container-flex">

	<div id="image-container">
		<div id="image-container-text-box">
			<p>Does your best friend need a cut?</p>
			<p>Don't worry, we got you covered.</p>
		</div>
	</div>

	<div id="staff-container">

		<h2 id="">Meet Our Staff!</h2>

		<div id="emp-1-container" class="card">
			<div id="emp-1-text-div" class="card-body">
				<h3>Meet Lorena!</h3>
				<p class="card-text">
					Our talented and passionate dog groomer, here at Oli's. With a heart full of love for our four-legged friends and a skilled touch, Lorena transforms every grooming session into a pampering experience for your beloved pets. With years of expertise and a natural connection with dogs, she ensures your furry companions leave our salon not only looking their best but feeling their best too. Lorena's dedication to the well-being and happiness of your pets makes her the perfect choice for your dog grooming needs. Trust her to make your furry family members shine and prance with joy after each visit.
				</p>
				<div id="lorenasCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<h4><a class="reviews-header" th:href="@{/reviews/1}">Reviews</a></h4>
						<div th:each="review, iterStat : ${lorenasReviews}" th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
							<div class="star-rating">
								<span th:each="star : ${#numbers.sequence(1, 5)}">
								<input type="radio" th:id="${review.id}+'star'+${star}" th:checked="${star <= review.rating}">
								<label th:for="${review.id}+'star'+${star}"></label>
								</span>
								<span class="review-description" th:text="${review.description}"></span>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev carousel-slide-btn carousel-btn" type="button" data-bs-target="#lorenasCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next carousel-slide-btn carousel-btn" type="button" data-bs-target="#lorenasCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<a id="book-with-anchor-1" class="btn btn-success" th:href="@{/calendar?groomerId=1}">Book an Appointment with Lorena</a>
			</div>
			<img id="emp-1-img" class="emp-img" th:src="@{/img/lorena_pic.png}">
		</div>

		<br>

		<div id="emp-2-container" class="card">
			<img id="emp-2-img" class="emp-img" th:src="@{/img/kara_pic.png}">
			<div id="emp-2-text-div" class="card-body">
				<h3>Meet Kara!</h3>
				<p class="card-text">
					Another delightful dog groomer at Oli's. Kara's boundless enthusiasm for dogs shines through in every grooming session she undertakes. With a gentle touch and a keen eye for detail, she provides a grooming experience that leaves your furry companions looking and feeling their absolute best. Kara's extensive experience and innate connection with dogs ensure that each visit to our salon is a comfortable and enjoyable one for your beloved pets. Choose Kara for her expertise, her dedication to their well-being, and her commitment to making your furry family members exude confidence and charm with every pampering session.
				</p>
				<div id="karasCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<h4><a class="reviews-header" th:href="@{/reviews/2}">Reviews</a></h4>
						<div th:each="review, iterStat : ${karasReviews}" th:classappend="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
							<div class="star-rating">
								<span th:each="star : ${#numbers.sequence(1, 5)}">
								<input type="radio" th:id="${review.id}+'star'+${star}" th:checked="${star <= review.rating}">
								<label th:for="${review.id}+'star'+${star}"></label>
								</span>
								<span class="review-description" th:text="${review.description}"></span>
							</div>
						</div>
					</div>
					<button class="carousel-control-prev carousel-slide-btn carousel-btn" type="button" data-bs-target="#karasCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next carousel-slide-btn carousel-btn" type="button" data-bs-target="#karasCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
				<a id="book-with-anchor-2" class="btn btn-success" th:href="@{/calendar?groomerId=2}">Book an Appointment with Kara</a>
			</div>
		</div>

	</div>

</div>

<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>
