<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
  <title>Verify Email</title>
  <!--  <th:block th:insert="~{partials/header-links :: header-links}"></th:block>-->
</head>
<body>
<!--<th:block th:insert="~{partials/big-navbar :: navbar}"></th:block>-->

<h4>This link has expired.</h4>

<!--<th:block th:insert="~{partials/footer :: footer}"></th:block>-->

<!--<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>-->
</body>
</html>