<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<title>BookIt - Login</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div id="page-container" class="container">

	<div id="login-form-container">
		<a class="m-0" th:href="@{/}"><img id="login-img" th:src="@{/img/olis_pet_stuff_logo.png}"/></a>

		<h1 id="login-header">Oli's Customer Portal</h1>

		<div id="error-toast" th:if="${param.error}" class="toast align-items-center text-bg-danger border-0 mb-3"
			 role="alert">
			<div class="d-flex">
				<div class="toast-body">
					Invalid username and password.
				</div>
				<button type="button" class="close-toast-btn btn-close btn-close-white me-2 m-auto"
						data-bs-dismiss="toast"></button>
			</div>
		</div>

		<div id="logout-toast" th:if="${param.logout}" class="toast align-items-center text-bg-success border-0 mb-3"
			 role="alert">
			<div class="d-flex">
				<div class="toast-body">
					You have been logged out.
				</div>
				<button type="button" class="close-toast-btn btn-close btn-close-white me-2 m-auto"
						data-bs-dismiss="toast"></button>
			</div>
		</div>

		<form th:action="@{/login}" method="POST">

			<div class="input-group mb-3">
				<span class="input-group-text">Username</span>
				<input type="text" name="username" class="form-control">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">Password</span>
				<input type="password" name="password" class="form-control">
			</div>

			<input class="btn btn-success w-100" type="submit" value="Log in"/>

		</form>

		<p>Don't have an account? <a id="register-anchor" th:href="@{/register}">Register here</a></p>

	</div>

</div>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
<script th:src="@{/js/login.js}"></script>
</body>
</html>