<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
  <title>BookIt - Register</title>
  <th:block th:insert="~{partials/header-links :: header-links}"></th:block>
  <link rel="stylesheet" th:href="@{/css/register.css}">
</head>
<body>

<div id="page-container" class="container">

  <div id="register-form-container">
    <a class="m-0" th:href="@{/}"><img id="register-img" th:src="@{/img/olis_pet_stuff_logo.png}"/></a>

    <h1 id="register-header">Account Registration</h1>


    <form class="needs-validation" th:action="@{/register}" method="POST" th:object="${new_user}">

      <div class="input-group mb-3">
        <span class="input-group-text">Username</span>
        <input id="username-input" type="text" th:field="*{username}" class="form-control" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">First Name</span>
        <input id="first-name-input" type="text" th:field="*{firstName}" class="form-control" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Last Name</span>
        <input id="last-name-input" type="text" th:field="*{lastName}" class="form-control" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Email</span>
        <input id="email-input" type="text" th:field="*{email}" class="form-control" required>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Password</span>
        <input id="password-input" type="password" th:field="*{password}" class="form-control" required>
      </div>

      <input id="register-btn" class="btn btn-success w-100 disabled" type="submit" value="Register"/>

    </form>

    <p>Already have an account? <a id="register-anchor" th:href="@{/login}">Log In here</a></p>

  </div>

</div>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
<script type="text/javascript" src="../js/register.js"></script>
<script>

  let usernameInput = $("#username-input");
  let firstNameInput = $("#first-name-input");
  let lastNameInput = $("#last-name-input");
  let emailInput = $("#email-input");
  let passwordInput = $("#password-input");
  let registerButton = $("#register-btn");

  function formIsValid() {
    if (passwordInput.hasClass("is-invalid") || emailInput.hasClass("is-invalid")) {
      registerButton.addClass("disabled");
    } else {
      registerButton.removeClass("disabled");
    }
  }

  function isValidEmail(email) {
    const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
    return emailRegex.test(email);
  }

  emailInput.on("input", function() {
    const email = emailInput.val();

    if (isValidEmail(email)) {
      emailInput.removeClass("is-invalid");
    } else {
      emailInput.addClass("is-invalid");
    }
    formIsValid();
  });


  passwordInput.on("input", function() {
    let password = $(this).val();
    let hasCapitalLetter = /[A-Z]/.test(password);
    let hasNumber = /[0-9]/.test(password);
    let hasSymbol = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]/.test(password);

    if (password.length < 8 || !hasCapitalLetter || !hasNumber || !hasSymbol) {
      passwordInput.addClass("is-invalid");
    } else {
      passwordInput.removeClass("is-invalid");
    }
    formIsValid();
  });


</script>
</body>
</html>
