<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<title>BookIt - Review</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/review.css}">
</head>
<body>
<th:block th:insert="~{partials/big-navbar :: big-navbar}"></th:block>

<div id="page-container">

	<div id="content-container">

		<div id="review-info-container" class="review-container">

			<h2>Appointment Info:</h2>
			<br>
			<h5>Groomer: <span th:text="${appointment.groomer.toString()}"></span></h5>
			<h5>Dog: <span th:text="${appointment.dog.toString()}"></span></h5>
			<h5>Date: <span th:text="${#temporals.format(appointment.appointmentTime, 'MMMM d, uuuu')}"></span></h5>
			<h5>Time: <span th:text="${#temporals.format(appointment.appointmentTime, 'h:mm a')}"></span></h5>

		</div>

		<div id="review-form-container" class="review-container">

			<form th:method="POST" th:action="@{/reviews}" id="review-form">

				<h3>Review</h3>

				<label>Rating<i> - please select a rating below</i></label>

				<div class="star-rating">

					<input type="radio" id="star5" name="rating" value="5" th:checked="${existingReview != null and existingReview.rating == 5}">
					<label for="star5"></label>

					<input type="radio" id="star4" name="rating" value="4" th:checked="${existingReview != null and existingReview.rating == 4}">
					<label for="star4"></label>

					<input type="radio" id="star3" name="rating" value="3" th:checked="${existingReview != null and existingReview.rating == 3}">
					<label for="star3"></label>

					<input type="radio" id="star2" name="rating" value="2" th:checked="${existingReview != null and existingReview.rating == 2}">
					<label for="star2"></label>

					<input type="radio" id="star1" name="rating" value="1" th:checked="${existingReview != null and existingReview.rating == 1}">
					<label for="star1"></label>

				</div>

				<input hidden th:name="appointment-id" th:value="${appointment.id}">

				<label>Description<i> - please type your review below</i></label>
				<textarea rows="4" cols="50" th:if="${existingReview != null}" th:text="${existingReview.description}" th:value="${existingReview.description}" name="description"></textarea>
				<textarea rows="4" cols="50" th:if="${existingReview == null}" name="description"></textarea>

				<button type="submit" class="btn btn-success">Submit</button>

			</form>

			<form th:if="${existingReview != null}" th:method="DELETE" th:action="@{/reviews/delete}">
				<input hidden th:name="review-id" th:value="${existingReview.id}">
				<button type="submit" class="btn btn-danger">Delete Review</button>
			</form>

		</div>

	</div>

</div>

<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>
