<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Confirmation Email</title>
  <style>

    #email-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: darkgreen 8px solid;
      border-radius: 3%;
      background-color: #e4ffb5;
      width: 40%;
      height: 80vh;
    }

    p {
      color: black;
      font-size: xx-large;
      align-self: center;
      margin: 10px;
    }

    h1 {
      align-self: center;
    }
  </style>
</head>
<body>

<div id="email-container">

  <h1>Oli's Pet Stuff Grooming</h1>

<p>Click <a th:href="@{'https://book-it-app-58bb29028f24.herokuapp.com/reset-password/' + ${userId} + '?secToken=' + ${securityToken}}">here</a> to reset your account password.</p>

</div>

</body>
</html>