#page-container {
    border: solid 1px #304e18;
    padding: 2em;
    background-image: url('../../img/bones_background.jpeg');
    background-repeat: repeat;
}

#tab-container {
    background-color: white;
}

.tab-pane {
    min-height: 50vh;
    margin: 1em;
}

.dog-form {
    display: flex;
    flex-direction: column;
}