/* Common Styles */
.page-container {
    border: solid 1px #304e18;
    padding: 2em;
    background-image: url('../../img/bones_background.jpeg');
    background-repeat: repeat;
    min-height: 80vh;
}

.tab-pane {
    min-height: 50vh;
    margin: 1em;
}

/* My Dogs Styles */
.settings-container {
    border: #e4ffb5 5px solid;
    background-color: white;
    margin: 1em;
    padding: 2em;
}

#my-dogs-group {
    width: 97%;
}

#dogs-group-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Profile Info Styles */
#profile-info-group {
    width: 97%;
}

.profile-form-input {
    margin: 10px 0;
}

#save-param {
    font-size: small;
    font-style: italic;
}

#resend-email-verification-span {
    color: #0d9413;
    text-decoration: underline;
}

#resend-email-verification-span:hover {
    cursor: pointer;
    color: #0dbc12;
    text-decoration: underline;
}

@media screen and (min-width: 671px) {
    #tab-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 2em;
    }

    .settings-container {
        width: 48%;
    }

    .profile-input {
        min-width: 275px;
    }

    #edit-profile-save-btn {
        max-width: 380px;
    }
}

@media screen and (max-width: 670px) {
    #tab-container {
        flex-direction: column;
        padding: 1em 2em 1em 1em;
        overflow: scroll;
    }

    .settings-container {
        width: 100%;
    }

    .profile-input {
        min-width: 203px;
    }

    #edit-profile-save-btn {
        max-width: 308px;
    }
}
