<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:insert="~{partials/meta-header :: meta-header}"></th:block>
	<title>BookIt - Appointment</title>
	<th:block th:insert="~{partials/header-links :: header-links}"></th:block>
	<link rel="stylesheet" th:href="@{/css/appointments/appointment.css}">
</head>
<body>
<th:block th:insert="~{partials/big-navbar :: big-navbar}"></th:block>

<div id="page-container">

	<div id="content-container">

		<div id="img-box">
			<img id="appt-confirm-img" th:src="@{/img/dog_grooming.jpeg}"/>
		</div>

		<div id="appointment-box">

			<h5 id="appointment-header" class="m-3"><span th:text="${user.firstName}"></span>, we've got you confirmed for your appointment.
			</h5>

			<h3 class="m-3"><span th:text="${#temporals.format(appointment.appointmentTime, 'h:mm a')}"></span> | <span
					th:text="${appointment.groomer.name}"></span></h3>

			<a id="google-calendar-link" target="_blank" th:href="@{'https://www.google.com/calendar/render?action=TEMPLATE&text=Grooming%20Appointment%20With%20' + ${appointment.groomer.name} + '&dates=' + ${#temporals.format(appointment.appointmentTime, 'yyyyMMdd')} + 'T' + ${#temporals.format(appointment.appointmentTime.plusHours(5), 'HHmmss')} + 'Z/' + ${#temporals.format(appointment.appointmentTime, 'yyyyMMdd')} + 'T' + ${#temporals.format(appointment.appointmentTime.plusHours(6), 'HHmmss')} + 'Z&details=Grooming%20appointment%20with%20' + ${appointment.groomer.name} + '%20for%20' + ${appointment.dog.name} + '.&location=Event+Location&sf=true&output=xml'}">Add to Google Calendar</a>

			<p class="m-2"><span th:text="${#temporals.format(appointment.appointmentTime, 'MMMM d, uuuu')}"></span></p>
			<p class="mb-2">18010 Bulverde Rd #104 | San Antonio, TX</p>

			<a th:href="@{/calendar/{appointmentId}(appointmentId=${appointment.id})}"
			   class="btn btn-warning rounded-pill m-2">Edit Appointment</a>
			<a th:href="@{/my-profile/appointments}" class="btn btn-success rounded-pill m-2">My Appointments</a>

		</div>

	</div>

</div>


<th:block th:insert="~{partials/footer :: footer}"></th:block>

<th:block th:insert="~{partials/footer-links :: footer-links}"></th:block>
</body>
</html>